<div class="container-ConsultarAsignatura">
    <div class="wrap-ConsultarAsignatura">
        <h1 style="padding: 10px;">Consultar Pagos</h1>
        <form>
            <div class="form-group form-inline">
                text search: <input name="searchText" class="form-control ml-2" type="text" [(ngModel)]="searchText" />
            </div>
        </form>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Identificacion</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Valor Pago</th>
                    <th scope="col">Valor Iva</th>
                    <th scope="col">Pago Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr *ngFor="let pago of Pagos; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{pago.personaId}}</td>
                    <td>{{pago.cod}}</td>
                    <td>{{pago.tipoPago}}</td>
                    <td>{{pago.fechaPago}}</td>
                    <td>{{pago.valorPago}}</td>
                    <td>{{pago.valorIva}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>