<!-- Sidebar -->
<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
  <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
  <!-- Bootstrap List Group -->
  <ul class="list-group">
    <!-- Separator with title -->
    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
      <small>MENU</small>
    </li>
    <div>

      <a [routerLink]="['/Home']" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Inicio</span>
      </a>
    </div>

    <!-- /END Separator -->
    <!-- Menu with submenu -->

    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-dashboard fa-fw mr-3"></span>
        <span class="menu-collapsed">Pagos</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>
    <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
      class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-dashboard fa-fw mr-3"></span>
        <span class="menu-collapsed">Persona</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>

    <!-- Submenu content -->
    <div id='submenu1' class="collapse sidebar-submenu">

      <a [routerLink]="['/PagoRegistro']" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Registro Pagos</span>
      </a>
    </div>
    <a class="list-group-item list-group-item-action bg-dark text-white">
      <span class="menu-collapsed" [routerLink]="['/PagoConsulta']">Consultar Pagos</span>
    </a>

    <div id='submenu2' class="collapse sidebar-submenu">
      <a class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed" [routerLink]="['/PersonaConsulta']">Consultar Persona</span>
      </a>

    </div>


  </ul><!-- List Group END-->
</div><!-- sidebar-container END -->